.footer {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: -2%;
    justify-content: center;
    text-align: center;
    /* margin-block-start: 27%; */
    transform: scale(90%);
}

.img {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;
    cursor: pointer;
}

.p {
    margin-top: 0px;
}

.a {
    text-decoration: none;
    color: white;
}